<table border="3">
    <tr>
        <td>id</td>
        <td>name</td>
        <td>Nombre Heure</td>
        
        <td>action</td>
        
    </tr>
    {%for a in salle%}
    <tr>
        <td>{{a.id}}</td>
        <td>{{a.name}}</td>
        <td>{{a.nbrH}}</td>
        
        <td><a href="{{ path('edit', {'id': a.id}) }}">edit</a>
            <a href="{{ path('delete', {'id': a.id}) }}">delete</a></td>
           
        
        
        
        

    </tr>
    {% endfor %}
</table>